.message-container {
  // display: flex;
  // flex-direction: column;
  // justify-content: ;
  height: 100%;
  // width: 60%;
  margin-top: 10em;
  border: 1px solid magenta;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 10em;
  padding-right: 10em;
}

.message-info {
  border: 1px solid blueviolet;
  padding: 1em;
}