@import '../../_variables.scss';

.App {
	text-align: center;
	background-color: $main-bg;
	height: 100vh;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	margin: 0 10em 0 10em;
	height: 100%;
}