@import '../../_variables.scss';

.App {
	text-align: center;
	background-color: $main-bg;
	height: 100vh;
	overflow: scroll;
	width: 100%;

}

.body {
	display: flex;
}

.search-window {
	// position: absolute;
	height: 100%;
	width: 20em;
	animation: butt 1s
}

@keyframes butt {
	from {
		margin-right: -20em
	}
	to {
		margin-right: 0
	}
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	margin: 0 10em 0 10em;
	height: 100%;
	width: 100%;
}