@import '../../_variables.scss';

.App {
	// position:absolute;
	text-align: center;
	background-color: $main-bg;
	height: 100vh;
	overflow: scroll;
	width: 100%;
}

.body {
	display: flex;
	width:100%;
	background-color: $main-bg
}

.search-window {
	height: 100%;
	width: min-content;
	animation: enter 1s
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	padding: 0 10em 0 10em;
	height: 100%;
	width: 100%;
	z-index: 3;
}