@import '../../_variables.scss';

.about {
	display: flex;
	font-size: 1.4em;
	text-justify: left;

	img {
		width: 40%;
	}

	p {
		display: flex;
		text-align: left;
	}
}

.cta-buttons {
	display: flex;
	flex-direction: column;
	align-items: center;
	
	a {
		@include cta-buttons;
	}
}