@import '../../_variables.scss';

.Home {
	margin-top: 10em;
	padding: 0 15em;
}

.about {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 1.4em;
	text-justify: left;
	max-width: 30em;
	margin: 0 auto;

	img {
		width: 15em;
		height: 15em;
	}
	
	.hirees {
		width: 100%;
		height: auto;
	}

	p {
		display: flex;
		text-align: justify;
	}
}

.cta-buttons {
	display: flex;
	// flex-direction: column;
	justify-content: center;
	align-items: center;
	
	a {
		@include cta-buttons;
	}
}