@import '../../_variables.scss';

.Header {
	background-color: $main-bg;
	display: flex;
	justify-content: space-between;
	border-bottom: solid 1px $soft-accent;
	position: fixed;
	width: 100%;

	h1 {
		font-family: 'Krona One', sans-serif;
		color: $accent;
	}
	
	nav {
		display: flex;
		justify-content: space-between;
		a {
			font-family: 'Ubuntu', sans-serif;
			font-weight: 500;
			margin: 0 2em;
			min-height: 100%;
			line-height: 5.5em;
			font-size: 1em;
		}
		a, .inactive {
			color: $text;
			text-decoration: none;
		}
		.active {
			color: $accent;
			border-bottom: .1em solid $accent;
			font-style: italic;
		}
	}
}