@import '../../_variables.scss';

.Header {
	background-color: $main-bg;
	display: flex;
	justify-content: space-between;
	border-bottom: solid .13em $soft-accent;
	position: fixed;
	width: 100%;

	h1 {
		font-family: 'Krona One', sans-serif;
		color: $accent;
		position: absolute;
		bottom: -6px;
		width: 100%;
		font-size: 2.5em;
		z-index: -1;
	}
	
	nav {
		display: flex;
		justify-content: space-between;
		a {
			font-family: 'Ubuntu', sans-serif;
			font-weight: 500;
			margin: 0 2em;
			min-height: 102%;
			line-height: 5.5em;
			font-size: 1em;
		}
		a, .inactive {
			color: $text;
			text-decoration: none;
		}
		.active {
			color: $accent;
			border-bottom: .13em solid $accent;
			font-style: italic;
		}
	}

	.bm-burger-button {
		position: fixed;
    width: 2em;
    height: 2em;
    left: 2em;
    top: 1.5em;
	}

	.bm-menu {
		background-color: $main-bg;
	}

	.bm-cross-button {
		width: 10%;
	}
}