@import './variables';

* {
  box-sizing: border-box;
  color: $text;
}

body {
  margin: 0; 
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  background-color: $main-bg;
}

h1, h2, h3 {
  font-family: 'Krona One', sans-serif;
  color: $accent;
  a {
    color: $accent;
    text-decoration: none;
  }
}

h1 {
  position: absolute;
  bottom: -6px;
  width: 100%;
  font-size: 2.5em;
	z-index: -1;
	
	animation: 1s slide, 2.5s bounce;

	@keyframes slide {
		from {
			bottom: 100px;
		}
		to {
			bottom: -6px;
		}
	}
}

h2 {
  margin: .5em;
}

h3 {
  color: $highlight;
  margin: 0em;
}

h4 {
  color: $text;
}

h4 > .accent-text {
  color: $highlight;
  opacity: 1;
}

.cta-button { 
  @include cta-buttons;
	color: $main-bg;
	border: none;
}

.accent-text {
	font-family: 'Krona One', sans-serif;
}