@import '../../_variables.scss';

// .applicant-inputs {
// 	display: flex;
// 	flex-direction: column;
// }

.applicant-input {
	background: transparent;
	border: 1px solid $soft-accent;
	margin: 1em 0;
	width: 100%;
}

.refresh-button {
	width: 1em;
	margin-left: .5em;
}