@import '../../_variables.scss';

.ApplicantForm {
	margin-top: 10em;
}

.new-applicant-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-content: flex-start;
	text-align: left;
}

.applicant-profile {
	width: 34em;
	margin-right: 2em;
}

.applicant-input {
	background: transparent;
	border: 1px solid $soft-accent;
	margin: .3em 0 0 0;
	width: 100%;
}

.refresh-button {
	width: 1em;
	margin-left: .5em;
}

.applicant-options {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	overflow: scroll;
	width: 50em;
}

.option-box {
	border: .1px solid $soft-accent;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	flex-wrap: wrap;
	overflow: scroll;
	height: 9em;
	width: 100%;
	// display: grid;
	// grid-template-rows: 1fr 1fr 1fr 1fr 1fr;

	> * {
		border: 1px solid $soft-accent;
		;
	}
}

.privacy-notice {
	font-size: 14px;
}

textarea {
	resize: none;
}